.logine{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadre{
     padding: 30px;
     margin: 30px 0 0 0;
     width: 300px;
     height: 400px;
     border: 1px solid black;
     border-radius: 10px;
}

.champe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    input{
        width: 250px;
        height: 40px;
        margin: 30px 0 0 0;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 200;
        color: rgb(0, 0, 0);

        &&:focus{
            outline: none;
        }
    }

}

.incription{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.valider{
    position: relative;
    left: -1.5rem;
}
.showpassword{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    input{
       width: 16px;
    }
    span{
       display: flex;
       position: relative;
       top: 15px;
    }
}